[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.2"
bs4 = "=0.0.2"
altair = "==5.4.1"
lxml = "==5.3.0"
streamlit = "==1.38.0"
watchdog = "==5.0.2"
streamlit-flow-component = "==1.2.9"
geopy = "==2.4.1"

[dev-packages]

[requires]
python_version = "3.11"
